<form class="mt-5" (ngSubmit)="setAnswer()">
    <div class="form-group">
      <label for="answer">Ответ</label>
      <input
        type="text"
        name="answer"
        id="answer"
        class="form-control"
        #answerInput
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >Ответить</button>
  </form>
