<div class="card m-2 align-self-stretch" style="width: 18rem; min-height: 400px"  appBackgroundColor = '{{ question.status }}'>
  <div class="card-body">
    <h5 class="card-title">{{ question.question }}</h5>
    <div>
      <button class="btn btn-success mb-3" type="button" (click)="onClick()">Подсказка</button>
      <p *ngIf="onPrompt">{{ question.prompt }} </p>
    </div>
    <app-answer></app-answer>
  </div>
</div>
