<div class="container">
  <h1>Загадки</h1>
  <div class="d-flex flex-wrap ">
    <app-question
      *ngFor="let question of questionItems"
      [question]="question"
    ></app-question>
  </div>
  <h2>Вопросов: {{ questionItems.length }}</h2>
  <h2>Правильных ответов: {{ getTotal() }}</h2>
</div>
